<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script type="text/javascript">
            var app = angular.module('app', []);

            app.filter('round', function(){
                return function(num){
                    return num.toFixed(2);
                };
            });

            app.controller('appCtrl', function($scope){
                var calcSpeeds = function(){
                    $scope.kph = $scope.hrs == 0 ? 0 : ($scope.km / $scope.hrs).toFixed(2);
                    $scope.mph = $scope.hrs == 0 ? 0 : ($scope.mil / $scope.hrs).toFixed(2);
                };

                var calcRates = function(){
                    $scope.minpk = $scope.km == 0 ? 0 : (60 / $scope.km).toFixed(2);
                    $scope.minpm = $scope.mil == 0 ? 0 : (60 / $scope.mil).toFixed(2);
                };

                var calcTimes = function(){
                    $scope.min = $scope.mph == 0 ? 0 : ($scope.mil / $scope.mph).toFixed(2);
                    $scope.hrs = ($scope.min / 60).toFixed(2);
                };

                var calcDists = function(){ 
                    $scope.km = $scope.kph * $scope.hrs;
                    $scope.mil = $scope.mph * $scope.hrs; 
                };

                $scope.change = function(changed){
                    if (changed == 'mil'){
                        $scope.km = ($scope.mil * 1.60934).toFixed(2);
                        calcSpeeds();
                        calcRates();
                    }
                    else if (changed == 'km'){
                        $scope.mil = ($scope.mil / 1.60934).toFixed(2);
                        calcSpeeds();
                        calcRates();
                    }
                    else if (changed == 'mph'){
                        $scope.kph = ($scope.mph * 1.60934).toFixed(2);
                        calcTimes();
                        calcRates();
                    }
                    else if (changed == 'kph'){
                        $scope.mph = ($scope.kph / 1.60934).toFixed(2);
                        calcTimes();
                        calcRates();
                    }
                    else if (changed == 'minpm'){
                        $scope.minpk = ($scope.minpm / 1.60934).toFixed(2);
                        calcTimes();
                        calcSpeeds();
                    }
                    else if (changed == 'minpk'){
                        $scope.minpm = ($scope.minpk * 1.60934).toFixed(2);
                        calcTimes();
                        calcSpeeds();
                    }
                    else if (changed == 'hrs'){
                        $scope.min = ($scope.hrs * 60).toFixed(2);
                        calcSpeeds();
                        calcRates();
                    }
                    else if (changed == 'min'){
                        $scope.hrs = ($scope.min / 60).toFixed(2);
                        calcSpeeds();
                        calcRates();
                    }
                };

                $scope.km = 5;
                $scope.mil = 3.11;
                $scope.min = 30;
                $scope.hrs = 0.5;

                $scope.change('min');
            });
        </script>
        <style>
            #toRun {
                font-size: 1.2em;
            }

            input {
                width: 40px;
                border: none;
                background: #eee;
            }

            .fl {
                float:left;
                border: 1px solid #666;
                height: 40px;
                padding:10px;
                vertical-align: middle;
            }
        </style>
    </head>
    <body>
        <div id="calculator" ng-app="app" ng-controller="appCtrl">
            <div id="toRun">To run:</div>
            <div class="fl">
              <input type="text" ng-model="mil" ng-change="change('mil')" /> miles<br/>
              <input type="text" ng-model="km" ng-change="change('km')" class="second"/> km
            </div>
            <div class="fl">in</div>
            <div class="fl">
                <input type="text" ng-model="min" ng-change="change('min')" /> minutes<br/>
                <input type="text" ng-model="hrs" ng-change="change('hrs')" class="second" /> hours
            </div>
            <div class="fl">go</div>
            <div class="fl">
              <input type="text" ng-model="mph" ng-change="change('mph')"/> mph<br/>
              <input type="text" ng-model="kph" ng-change="change('kph')" class="second" /> km/h
            </div>
            <div class="fl">or</div>
            <div class="fl">
              <input type="text" ng-model="minpm" ng-change="change('minpm')" /> min/mil<br/>
              <input type="text" ng-model="minpk" ng-change="change('minpk')" class="second" /> min/km
            </div>
        </div>
    </body>
</html>
